WEB_PORT=8081

DB_HOST='127.0.0.1'
DB_USER='[INSERT]'
DB_PASSWORD='[INSERT]'
DB_DATABASE='[INSERT]'

JWT_EXPIRE=12*30*24*60*60
JWT_SECRET='[INSERT]'

DEPLOY_SERVER='USER@IP'
DEPLOY_DIR='/var/www/html'
DEPLOY_SSH_KEY='/home/user/.ssh/id_rsa'

